.one.red
  %h1 Are you ready?! 
.two.white
  %h1 No, it's not a card!  
.three.red
  %h1 Well, for us really. 
.four.white
  %h1 I got something for you. 
.five.red
  %h1 Happy Valentines Day! 
  <i class="fa fa-heart"></i>
.six.white
  %h1 Good morning, gorgeous.  